@model IEnumerable<LlamadaDeServicioViewModel>

@{
    ViewData["Title"] = "Listado Completo de Llamadas de Servicio";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Call ID</th>
            <th>Internal SN</th>
            <th>U Placas</th>
            <th>Item Name</th>
            <th>Name</th>
            <th>Nombre Lavador</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var llamada in Model)
        {
            <tr>
                <td>@llamada.CallID</td>
                <td>@llamada.InternalSN</td>
                <td>@llamada.UPlacas</td>
                <td>@llamada.ItemName</td>
                <td>@llamada.Name</td>
                <td>@llamada.NombreLavador</td>
                <td>@llamada.Estado</td>
            </tr>
        }
    </tbody>
</table>
